body {
  background: linear-gradient(rgb(255, 166, 0), rgb(23, 168, 204));
  background-repeat: no-repeat;
  height: 100%;
  text-align: center;
  font-family: 'Rubik Maps';
  padding: 0px 10px;
}

#about-britnay {
  border: white dashed 3px;
  margin-bottom: 10px;
}

#about-britnay p{
  margin: 0px;
  padding: 0px;
}

#about-britnay h1{
  margin: 0px;
  padding: 0px;
}

#career-obj {
  border: burlywood ridge 3px;
  margin-bottom: 10px;
}

#education {
  border: black dotted 3px;
  margin-bottom: 10px;
}

h6 {
  margin: 0px;
}

#employee-history {
  /* margin: 0px;
  padding: 0px; */
  border: olive double 3px;
  margin-bottom: 10px;
}

.format {
  display: flex;
  justify-content: space-between;
  /* flex-direction: row; */
}

#employee-history > p {
  text-align: left;
  margin-top: 0px;
}

.format > p {
  margin-bottom: 0px;
}

ul {
  text-align: left;
}

#certs {
  border: plum double 3px;
  border-radius: 10px;
}
